body {
  margin: 0;
  background-color: rgb(243, 232, 232);
}

header {
  box-sizing: border-box;
  background-color: rgb(168, 164, 164);
  padding-bottom: 30px;
}

h1 {
  margin: 0;
  color: rgb(7, 7, 7);
}

nav {
  float: left;
  padding-top: 5%;
  background-color: rgb(168, 164, 164);
}

li {
  display: block;
}

nav li {
  display: block;
  padding: 10px;
}

nav li a {
  color: rgb(7, 7, 7);
  text-decoration: none;
}

main {
  margin-top: 20px;
  margin-left: 225px;
  margin-right: 225px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border: solid 1px rgb(7,7,7);
}

h3 {
  font-size: 140%;
}

p {
  font-size: 105%;
}

h2 {
  margin: 2%;
  padding-top: 1%;
}

.about {
  padding: 3px;
}

.info {
  margin: 0;
  padding: 2%;
  border-bottom: 1px solid rgb(7,7,7);
}

.work {
  padding: 3px;
}

.work h3 {
  padding-left: 2%;
}

.fareway {
  margin: 0;
  padding: 2%;
  border-bottom: 1px solid rgb(7,7,7);
}

.farmtek {
  margin: 0;
  padding: 2%;
}

.projects {
  padding-left: 2px;
  padding-bottom: 5%;
}

.projects h3 {
  padding-left: 2%;
}

.projects li {
  padding-left: 2%;
}

.shiritori {
  margin: 0;
  padding: 2%;
  border-bottom: 1px solid rgb(7,7,7);
}

.paranormal {
  margin: 0;
  padding: 2%;
  border-bottom: 1px solid rgb(7,7,7);
}

.battleship {
  margin: 0;
  padding-left: 2%;
}

.movies {
  margin: 0;
  padding: 2%;
  border-bottom: 1px solid rgb(7,7,7);
}

.games {
  margin: 0;
  padding: 2%;
}

footer {
  display: inline-block;
  background-color: rgb(168, 164, 164);
  text-align: center;
  position: fixed;
  width: 100%;
  margin-bottom: 0;
  bottom: 0;
}